* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(236, 236, 236);
  height: 60px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container .navigaton {
  display: grid;
  grid-template-columns: 15% 20% 15% 50%;
  text-align: left;
  align-items: first baseline;
  padding: 15px 0;
  color: rgb(97, 86, 86);
  font-size: 13px;
  font-style: normal;
  font-weight: 100;
}

.container a {
  color: rgb(66, 195, 66);
  text-decoration: none;
}

.container .mobile a {
  color: rgb(97, 86, 86);
}

.subheader .subheader_nav {
  max-width: 570px;
  display: inline;
  display: flex;
  justify-content: space-between;
}

.content {
  margin-top: 30px;
}

.content .content_img {
  width: 100%;
}

aside {
  display: inline-block;
}
.content .content_info {
  display: inline-block;
  margin-left: 250px;
}
