* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(236, 236, 236);
  height: 60px;
  width: 100%;
}

p,
h2,
h1 {
  color: rgb(97, 86, 86);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container .navigaton {
  display: grid;
  grid-template-columns: 15% 20% 15% 50%;
  text-align: left;
  align-items: first baseline;
  padding: 15px 0;
  color: rgb(97, 86, 86);
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
}

.container .navigaton li {
  list-style-type: none;
}

.container a {
  color: rgb(66, 195, 66);
  text-decoration: none;
}

.container .mobile a {
  color: rgb(97, 86, 86);
}

.subheader .subheader_nav {
  margin-left: 398px;
  width: 70%;
}

.subheader .subheader_nav a {
  display: inline;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(66, 195, 66);
}

.subheader .subheader_nav a:hover {
  background-color: rgb(66, 195, 66);
  color: white;
}

.subheader .subheader_nav a.active {
  background-color: rgb(66, 195, 66);
  color: white;
}

.content {
  margin-top: 30px;
}

.content .content_img {
  width: 100%;
}

aside {
  float: left;
  width: 25%;
}

.content .content_info {
  float: right;
  width: 75%;
}
h1,
h2 {
  margin-top: 30px;
}

.content_info .poduction {
  margin: 20px 40px;
}
.content_info .advantages {
  margin: 20px 40px;
}

.content .content_nav a {
  background-color: rgb(236, 236, 236);
  color: rgb(97, 86, 86);
  display: block;
  padding: 15px;
  margin-right: 50px;
  text-decoration: none;
}

.content .content_nav a:hover {
  background-color: rgb(66, 195, 66);
}

.content .content_nav .content_nav_active {
  background-color: rgb(66, 195, 66);
}

.about_company {
  margin-top: 40px;
  background-color: rgb(230, 227, 227);
  height: 160px;
  padding-top: 25px;
}
.about_company a {
  color: rgb(97, 86, 86);
  text-decoration: underline;
}
